<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr data-th-each="task: ${tasklist}">
            <td data-th-text="${task.id}"></td>
            <td data-th-text="${task.name}"></td>
            <td data-th-text="${task.description}"></td>
            <td data-th-text="${task.dueDate}"></td>
            <td data-th-text="${task.priority}"></td>
            <td data-th-text="${task.status}"></td>
            <td data-th-text="${task.createAt}"></td>
            <td data-th-text="${task.updateAt}"></td>
        </tr>
    </table>
</body>
</html>